{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "extends": [
    "@authress/eslint-config"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "curly": ["error", "all"],
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": 0 }],
    "node/no-unsupported-features": ["off"],
    "no-console": "error",
    "max-len": "off"
  }
}
